version: 2.1

orbs:
  architect: giantswarm/architect@6.8.0

workflows:
  build:
    jobs:
      - architect/push-to-app-catalog:
          name: push-to-control-plane-catalog
          context: architect
          executor: app-build-suite
          chart: azure-workload-identity-webhook
          app_catalog: control-plane-catalog
          app_catalog_test: control-plane-test-catalog
          filters:
            branches:
              ignore:
                - main
                - master
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-to-capz-app-collection
          context: architect
          app_catalog: control-plane-catalog
          app_name: azure-workload-identity-webhook
          app_namespace: giantswarm
          app_collection_repo: capz-app-collection
          requires:
            - push-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
